# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Generated e.g. by LineCount and the example usage command
out/

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~
.vscode
.history
.netrc
