name: Create Tag

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release tag'
        required: true

jobs:
  tag:
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 0
      - name: 'Get previous tag'
        id: previoustag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      - name: 'Get possible next tags'
        id: semvers
        uses: "WyriHaximus/github-action-next-semvers@v1"
        with:
          version: ${{ steps.previoustag.outputs.tag }}
      - name: 'Verify input version'
        if: !contains([${{ steps.semvers.outputs.v_major, ${{ steps.semvers.outputs.v_minor, ${{ steps.semvers.outputs.v_patch }}], ${{ github.event.inputs.version }})
        run: exit 1
      - name: 'Create new tag'
        if: success()
        uses: actions/github-script@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            github.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "refs/tags/${{ github.event.inputs.version }}",
              sha: context.sha
            })
  